.login-wrapper {
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(236, 236, 236);
  direction: rtl;
}

.login_box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color);
  border: 1px solid var(--border-color);
  border-radius: var(--radius-md);
  padding: 20px;
  box-shadow: var(--shadow-md);
}

.login-image,
.login-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-image img {
  max-width: 80%;
  height: auto;
  object-fit: contain;
}

.login-container {
  max-width: 450px;
  padding: 40px 30px;
  border-radius: 12px;
  flex-direction: column;
}

.login-container h2 {
  font-size: 26px;
  margin-bottom: 10px;
  color: #222;
  font-weight: bold;
}

.login-container p {
  font-size: 14px;
  color: #555;
  margin-bottom: 25px;
  line-height: 1.6;
}

.login_footer {
  margin-top: 30px;
}

.login_footer a {
  margin-top: 20px;
  color: var(--main-color);
  text-decoration: none;
  font-weight: bold;
}

/* ---------------- login_form -------------- */
/* ---------------- login_form -------------- */
.login_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.login_form .input_container .input_field .input {
  padding-right: 35px;
}
.lucide-eye, .lucide-eye-off {
  cursor: pointer;
}

.login_button {
  margin-top: 5px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: var(--main-color);
  color: var(--color);
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: var(--hover-color);
}

.forgetPassword {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 5px;
}

.forgetPassword a {
  color: var(--main-color);
  text-decoration: none;
  font-weight: bold;
}

.forgetPassword a:hover {
  text-decoration: underline;
}

.rememberMe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: fit-content;
}

.rememberMe_section .rememberMe_label .rememberMe_checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #aaa;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  top: 5px;
}

.rememberMe_section .rememberMe_label .rememberMe_checkbox:checked {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.rememberMe_checkbox:checked::after {
  content: "✔";
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rememberMe p {
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin: auto;
}

/* موبايل */
@media (max-width: 768px) {
  .login-wrapper {
    flex-direction: column;
    padding: 20px;
  }

  .login_box {
    padding: 10px;
  }

  .login-container {
    max-width: 100%;
    width: 100%;
    padding: 0px;
  }

  .login-image {
    display: none;
  }

  .login-image img {
    max-width: 60%;
  }
}