.forgotPassword-wrapper {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 236, 236);
}

.forgotPassword-container {
    background-color: var(--color);
    border: 1px solid var(--border-color);
    border-radius: var(--radius-md);
    padding: 20px;
    max-width: 380px;
    box-shadow: var(--shadow-md);
}

.forgotPassword_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(44, 62, 80, 1);
}

.forgotPassword_header .header_icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(170, 255, 238, 0.5);
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotPassword-box p {
    text-align: center;
    margin-top: 15px;
}

.forgotPassword_form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

.forgotPassword_form .input_container .input_field .input {
    padding-inline: 38px;
}
.email_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}