.delete_btn, .confirm_delete_btn {
    background-color: var(--color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    color: red;
    border: 1px solid red;
    border-radius: var(--radius-sm);
    transition: all ease-in-out .3s;
}

.delete_btn {
    margin-top: 15px;
}

.delete_btn:hover, .confirm_delete_btn:hover {
    background-color: red;
    color: white;
}

.cancel_delete_btn {
    background-color: var(--main-color);
    color: white;
    border: 1px solid var(--main-color);
    width: 80px;
    height: 45px;
}

.deleteLoader {
    width: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    clip-path: inset(-45px);
    box-shadow: -60px 0px,-60px 0px,-60px 0px;
    animation: l19 1s infinite linear;
    transform: rotate(180deg);
}

@keyframes l19{ 
    16.67% {box-shadow:-60px 0px,-60px 0px,19px 0px}
    33.33% {box-shadow:-60px 0px,  0px 0px,19px 0px; background-color: white;}
    40%,60%{box-shadow:-19px 0px,  0px 0px,19px 0px; background-color: white;}
    66.67% {box-shadow:-19px 0px,  0px 0px,60px 0px; background-color: white;}
    83.33% {box-shadow:-19px 0px, 60px 0px,60px 0px}
    100%   {box-shadow: 60px 0px, 60px 0px,60px 0px}
}