.sell-section {
  background-color: var(--yellow-color);
  padding: 50px 20px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.sell-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #222;
}

.sell-subtitle {
  font-size: 16px;
  color: #555;
  margin-bottom: 25px;
}

.sell-btn {
  display: inline-block;
  padding: 12px 25px;
  background-color: var(--main-color);
  color: var(--color);
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  text-decoration: none;
  width: 200px;
  transition: 0.3s ease;
}

.sell-btn:hover {
  background-color: var(--hover-color);
  color: var(--color);
}

.sell-features {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
  flex-wrap: wrap;
}

.sell_features_content,
.sell_features_icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sell_features_content {
  gap: 5px;
}

@media (max-width: 768px) {
  .sell-section {
    display: none;
  }
}