.confirm_overlay {
    background-color: rgba(15, 15, 15, 0.6);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    z-index: 9999999;
}

.confirm_overlay .confirm_box {
    background-color: var(--color);
    border: 2px solid var(--border-color);
    border-radius: var(--radius-sm);
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 20px;
}

.confirm_overlay .confirm_box .confirm_actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.confirm_overlay .confirm_box .confirm_actions .cancel_btn_confirm {
    background-color: var(--color);
    color: red;
    border: 1px solid red;
    width: 80px;
    height: 45px;
    padding: 0px;
}

.confirm_overlay .confirm_box .confirm_actions .confirm_btn {
    padding: 0px;
    width: 150px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.logoutLoader {
    width: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    clip-path: inset(-45px);
    box-shadow: -60px 0px,-60px 0px,-60px 0px;
    animation: l19 1s infinite linear;
    transform: rotate(180deg);
}

@keyframes l19{ 
    16.67% {box-shadow:-60px 0px,-60px 0px,19px 0px}
    33.33% {box-shadow:-60px 0px,  0px 0px,19px 0px; background-color: white;}
    40%,60%{box-shadow:-19px 0px,  0px 0px,19px 0px; background-color: white;}
    66.67% {box-shadow:-19px 0px,  0px 0px,60px 0px; background-color: white;}
    83.33% {box-shadow:-19px 0px, 60px 0px,60px 0px}
    100%   {box-shadow: 60px 0px, 60px 0px,60px 0px}
}