@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Outfit:wght@100..900&display=swap");

:root {
    /* Colors */
    --color: #fff;
    --start-color: #444444;
    --main-color: #1abc9c;
    --hover-color: #16a085;
    --header-color: #2c3e50;
    --yellow-color: #f1c40f;
    --shadow-color: #00000026;
    --parg-color: #555;
    --text-color: #707070;
    --title-color: #222;
    --landing-color: #f8f5f5;
    --border-color: #DBDBDB;

    /* Fonts */
    --font-main: "Cairo", sans-serif;
    --font-alt: "Outfit", sans-serif;
    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 20px;
    --font-size-xl: 28px;
    /* Borders & Shadows */
    --space-sm: 8px;
    --space-md: 12px;

    --radius-sm: 6px;
    --radius-md: 12px;
    --radius-lg: 20px;
    --shadow-sm: 0 1px 2px var(--shadow-color);
    --shadow-md: 0 4px 12px var(--shadow-color);
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: var(--font-main);
    direction: rtl;
}

/* Body */
body {
    font-family: var(--font-main);
    font-size: var(--font-size-md);
    background-color: var(--landing-color);
    color: var(--title-color);
    line-height: 1.6;
}

/* Buttons */
button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    padding: var(--space-sm) var(--space-md);
    border-radius: var(--radius-sm);
    background-color: var(--main-color);
    color: var(--color);
    font-size: var(--font-size-md);
    transition: 0.3s;
}

button:hover {
    background-color: var(--hover-color);
}

a {
    font-weight: 500;
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

a:hover {
    color: var(--hover-color);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #e5e7eb;
    border-radius: 9999px;
}

.inputs_group {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 0px;
    margin: 0px;
}

.input_container, .textarea_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0px;
    position: relative;
}

.input_label {
    padding: 0px;
    margin: 0px;
    text-align: start;
    position: relative;
}

.input_label .error_message {
    color: red;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}
.input_field {
    position: relative;
}

.input {
    width: 100%;
    border: 2px solid var(--border-color);
    border-radius: var(--radius-sm);
    padding: 12px 10px;
    outline: none;
}

.input.readonly {
    background-color: #f5f5f5;
    color: #555;
    cursor: not-allowed;
    opacity: 0.8;
}

.input:focus {
    border: 2px solid var(--main-color);
}

.input::placeholder, textarea::placeholder {
    color: #727272;
    font-size: var(--font-size-sm);
}

.input_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.input_icon img {
    width: 24px;
    height: 24px;
}

label {
    font-size: var(--font-size-md);
    font-weight: 400;
    text-align: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mainLoader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    z-index: 999999999999;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    animation: slideDownFadeOut .3s ease-in-out forwards;
}

@keyframes slideDownFadeOut {
    0% {
        opacity: .9;
        transform: translateY(0);
    }

    33% {
        opacity: .6;
        transform: translateY(33%);
    }

    66% {
        opacity: .3;
        transform: translateY(66%);
    }

    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}